.vscode/
.vs/
.vcx/
*.orig
*.a
*.o
*.obj
*.bin
*.out
*.tmp
*.bmp
*.log
*.tlog
*.recip
*.lib
*.pdb
*.sln
*.vcxproj*
*.exe
*.exp
*.recipe
*.user
*.ilk

DatasetTests
UnitTests

# Ignore CMake generated directories and files.
generated/
CMakeFiles/
*.cmake
!internal_utils.cmake
CMakeCache.txt
MakeFile
_deps/

# Ignore Python generated directories and files.
__pycache__/

# Ignore copy of datasets.
build/datasets/