.vscode/
.vs/
.vcx/
boost_1_71_0/
*.orig
*.a
*.o
*.obj
*.bin
*.out
*.snn

DatasetTests
UnitTests

# Ignore cmake generated directories and files.
generated/
CMakeFiles/
*.cmake
!internal_utils.cmake
CMakeCache.txt
MakeFile

# Ignore copy of datasets.
build/datasets/