Checks: >
    *,
    -boost-use-ranges,
    -cppcoreguidelines-non-private-member-variables-in-classes,
    -fuchsia-default-arguments-calls,
    -fuchsia-default-arguments-declarations,
    -fuchsia-trailing-return,
    -llvmlibc-callee-namespace,
    -llvmlibc-implementation-in-namespace,
    -llvmlibc-inline-function-decl,
    -llvmlibc-restrict-system-libc-headers,
    -llvm-header-guard,
    -misc-non-private-member-variables-in-classes,
    -readability-identifier-length,

    -misc-include-cleaner,
    -altera-id-dependent-backward-branch,
    -bugprone-reserved-identifier,
    -cert*,

    -cppcoreguidelines-avoid-magic-numbers,
    -google-build-using-namespace,
    -readability-magic-numbers
WarningsAsErrors: >
    *,
    -altera-unroll-loops,
    -altera-id-dependent-backward-branch,
    -bugprone-easily-swappable-parameters,
    -fuchsia-overloaded-operator,
    -misc-include-cleaner,

    -cppcoreguidelines-special-member-functions,
    -cppcoreguidelines-special-member-functions,
    -misc-header-include-cycle,
    -performance-unnecessary-value-param,
    -misc-const-correctness,
    -bugprone-unused-local-non-trivial-variable,
    -cppcoreguidelines-avoid-magic-numbers,
    -readability-magic-numbers,
    -readability-braces-around-statements,
    -cppcoreguidelines-prefer-member-initializer,
    -readability-math-missing-parentheses,
    -hicpp-named-parameter,
    -readability-named-parameter,
    -readability-qualified-auto,
    -readability-function-cognitive-complexity,
    -clang-diagnostic-unused-command-line-argument,
    -modernize-use-trailing-return-type,
    -misc-use-internal-linkage,
    -hicpp-named-parameter,
    -clang-diagnostic-error,
    -readability-convert-member-functions-to-static,
    -cppcoreguidelines-pro-bounds-constant-array-index,
    -hicpp-signed-bitwise,
    -cppcoreguidelines-pro-type-member-init,
    -hicpp-member-init,
    -cppcoreguidelines-narrowing-conversions,
    -modernize-use-transparent-functors,
    -modernize-avoid-bind,
    -misc-unused-using-decls,
    -cppcoreguidelines-owning-memory,-warnings-as-errors,
    -cert-err58-cpp,
    -modernize-use-designated-initializers,
    -bugprone-inc-dec-in-conditions,
    -readability-inconsistent-declaration-parameter-name,
    -bugprone-branch-clone,
    -cppcoreguidelines-avoid-c-arrays,
    -hicpp-avoid-c-arrays,
    -modernize-avoid-c-arrays,
    -cppcoreguidelines-init-variables,
    -abseil-string-find-str-contains,
    -readability-implicit-bool-conversion,
    -performance-for-range-copy,
    -google-build-using-namespace,
    -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
    -fuchsia-statically-constructed-objects,
    -cppcoreguidelines-pro-bounds-pointer-arithmetic,
    -fuchsia-statically-constructed-objects,
    -bugprone-implicit-widening-of-multiplication-result,
    -google-explicit-constructor,
    -cert-err34-c,
    -bugprone-exception-escape,
    -cppcoreguidelines-special-member-functions,
    -hicpp-special-member-functions,
    -readability-avoid-const-params-in-decls,
    -misc-use-anonymous-namespace,
    -modernize-return-braced-init-list,
    -readability-suspicious-call-argument,
    -google-readability-avoid-underscore-in-googletest-name,
    -cppcoreguidelines-avoid-const-or-ref-data-members,
    -altera-struct-pack-align,
    -cppcoreguidelines-avoid-non-const-global-variables,
    -google-readability-namespace-comments,
    -llvm-namespace-comment,
    -readability-redundant-member-init,
    -performance-inefficient-string-concatenation,
    -performance-type-promotion-in-math-fn
