$link-color: teal;

.btn-primary {
    background-color: teal !important;
    background-image: linear-gradient(rgb(0, 180, 180), rgb(0, 96, 96)) !important;
}

.highlight .n {
    color: #5f6d6d !important;
}